/**
 * Rules have 3 settings 0 (off), 1 (warning), 2 (error)
 */
{
  "globals": {
    "checkCompat": true,
    "comMessage": true,
    "debug": true,
    "envMode": true,
    "envUrls": true,
    "incomMessage": true,
    "modal": true,
    "moment": true,
    "require": true,
    "RSVP": true
  },
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    /**
     * Override eslint defaults
     */
    "no-console": 1,
    "no-debugger": 1,
    "no-unreachable": 1,
    "valid-jsdoc": 0,
    /**
     * Best Practices (http://eslint.org/docs/rules/#best-practices)
     */
    "accessor-pairs": 0,
    "block-scoped-var": 2,
    "complexity": [0, 11],
    "consistent-return": 2,
    "curly": [2, "multi-line"],
    "default-case": 2,
    "dot-notation": 2,
    "dot-location": [1, "property"],
    "eqeqeq": 2,
    "guard-for-in": 2,
    "no-alert": 1,
    "no-caller": 2,
    "no-div-regex": 0,
    "no-else-return": 2,
    "no-eq-null": 0,
    "no-eval": 2,
    "no-extend-native": 0,
    "no-extra-bind": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 1,
    "no-implicit-coercion": 1,
    "no-implied-eval": 2,
    "no-invalid-this": 0,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 1,
    "no-multi-spaces": 1,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-new": 1,
    "no-octal-escape": 2,
    "no-octal": 2,
    "no-param-reassign": [2, {
      "props": false
    }],
    "no-process-env": 0,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unused-expressions": 0,
    "no-useless-call": 0,
    "no-void": 0,
    "no-warning-comments": 1,
    "no-with": 2,
    "radix": 2,
    "vars-on-top": 2,
    "wrap-iife": [2, "any"],
    "yoda": 2,

    /**
     * Variables (http://eslint.org/docs/rules/#variables)
     */
    "init-declarations": 0,
    "no-catch-shadow": 0,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow-restricted-names": 2,
    "no-shadow": 0,
    "no-undef-init": 1,
    "no-undef": 1,
    "no-undefined": 1,
    "no-unused-vars": [1, {
      "vars": "local",
      "args": "none"
    }],
    "no-use-before-define": [2, "nofunc"],

    /**
     * Style (http://eslint.org/docs/rules/#stylistic-issues)
     */
    "array-bracket-spacing": [2, "never"],
    "block-spacing": 0,
    "brace-style": [2, "1tbs", {
      "allowSingleLine": true
    }],
    "camelcase": 0,
    "comma-spacing": [1, {
      "before": false,
      "after": true
    }],
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"],
    "consistent-this": [2, "self"],
    "eol-last": 2,
    "func-names": 0,
    "func-style": 0,
    "id-length": [2, {
      "min": 2,
      "properties": "never",
      "exceptions": ["i", "j", "$", "e"]
    }],
    "id-match": 0,
    "indent": [1, 2],
    "jsx-quotes": 0,
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true
    }],
    "lines-around-comment": 0,
    "linebreak-style": [2, "unix"],
    "max-nested-callbacks": 0,
    "new-cap": 2,
    "new-parens": 2,
    "newline-after-var": 0,
    "no-array-constructor": 1,
    "no-continue": 0,
    "no-inline-comments": 0,
    "no-lonely-if": 1,
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-multiple-empty-lines": [1, {
      "max": 2
    }],
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "no-restricted-syntax": 0,
    "no-spaced-func": 2,
    "no-ternary": 0,
    "no-trailing-spaces": 2,
    "no-underscore-dangle": 0,
    "no-unneeded-ternary": 2,
    "object-curly-spacing": [2, "never"],
    "one-var": 1,
    "operator-assignment": 0,
    "operator-linebreak": 0,
    "padded-blocks": [1, "never"],
    "quote-props": [1, "consistent"],
    "quotes": [2, "single", "avoid-escape"],
    "require-jsdoc": 0,
    "semi-spacing": [1, {
      "before": false,
      "after": true
    }],
    "semi": [2, "always"],
    "sort-vars": 0,
    "space-before-blocks": [1, "always"],
    "space-before-function-paren": [1, "never"],
    "space-in-parens": [1, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": [2, {
      "words": true,
      "nonwords": false
    }],
    "spaced-comment": 0,
    "wrap-regex": 0
  }
}
