// Category-specific coloring
@each $category-name, $color in $category-colors {
  $color: map-get($category-colors, $category-name);
  .page--#{$category-name} {
    .article__meta {
      background-color: $color;
    }
  }
}
.article__meta {
  color: $white;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  padding-top: 8px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 7px;
  transform: translateY(-50%);
  position: absolute;
  top: 0;
  z-index: 5;
  &__category {
    @extend %RobotoBlack;
    &:after {
      content: '//';
      padding-left: 10px;
      margin-right: 10px;
      @extend %RobotoMedium;
    }
  }
  &__date {
    @extend %RobotoLight;
  }
  @include mediaquery($max, 414) {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 10px;
  }
}
