.carousel {
  @include clearfix;
  position: relative;
  &__item {
    float: left;
  }
  .slick-arrow {
    background: none;
    box-shadow: none;
    border-radius: 0;
    width: 21px;
    height: 40px;
    overflow: hidden;
    text-indent: -999999px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    @include background-icon('slide-arrow') {
      background-size: 21px 40px;
      background-position: center center;
    }
    &.slick-prev {
      transform: rotateY(180deg) translateY(-50%);
      left: -40px;
    }
    &.slick-next {
      right: -40px;
    }
  }
}
