.section--pull-quote {
  background-image: url("#{$image-path}/pull-quote-bg.png");
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
  margin: -50px 0;
  .blockquote {
    padding: 0 15%;
    position: relative;
    &:before,
    &:after {
      width: 33px;
      height: 25px;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      content: '';
      @include background-icon('quote-icon') {
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    &:before {
      left: 10%;
    }
    &:after {
      right: 10%;
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .blockquote, .blockquote p {
    font-size: 38px;
    line-height: 52px;
    @include letter-spacing(10, 38);
    color: #fff;
    @extend %RobotoSlab;
    display: inline-block;
  }
}
