.section--share-this {
  text-align: center;
  .section-wrapper {
    padding: 0 5%;
  }
  .share-tab {
    background-color: #008fc8;
    padding: 25px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(#000, .15) inset;
    @extend %RobotoBold;
    @include letter-spacing(10, 20);
    .icon {
      margin: 0 10px;
    }
  }
  .author-info {
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
    &__photo {
      display: inline-block;
      max-width: 100px;
      border-radius: 50%;
      height: 100px;
      margin-bottom: 20px;
    }
    &__by-line {
      font-size: 14px;
      line-height: 14px;
      color: #000;
      &__name {
        @extend %RobotoBlack;
        &:after {
          content: '//';
          padding-left: 10px;
          margin-right: 10px;
          @extend %RobotoMedium;
          color: #000;
        }
      }
      &__date {
        @extend %RobotoLight;
      }
    }
    &__social {
      font-size: 0;
      &-link {
        display: inline-block;
        vertical-align: top;
        width: 34px;
        height: 34px;
        margin: 12px 9px;
        a {
          background-position: center center;
          font-size: 0;
          color: #555;
          text-indent: -999999px;
          overflow: hidden;
          display: block;
          width: 34px;
          height: 34px;
          background-color: #555;
        }
        &.facebook {
          a {
            @include background-icon('fb-letter-icon') {
              background-size: 8px auto;
            }
          }
        }
        &.twitter {
          a {
            @include background-icon('tw-letter-icon') {
              background-size: 16px auto;
            }
          }
        }
        &.instagram {
          a {
            @include background-icon('ig-letter-icon') {
              background-size: 17px auto;
            }
          }
        }
      }
    }
  }
  .icon--share {
    vertical-align: middle;
  }
}
