.soundstracks {
  &--list {
    &:before {
      width: 100px;
      height: 6px;
      background-color: #ff1d8c;
      background-image: url('/img/line-stripes-pattern.png');
      background-size: 5px 5px;
      background-position: left top;
      content: '';
      display: block;
      margin-bottom: 15px;
    }
    .soundstracks__label {
      font-size: 50px;
      color: #2e2f30;
      @extend %RobotoSlabBold;
      line-height: 51px;
      margin-bottom: 20px;
    }
    .soundstracks__track {
      color: #2e2f30;
      font-size: 21px;
      line-height: 28px;
      list-style-position: inside;
      list-style-type: decimal-leading-zero;
      margin-bottom: 8px;
      padding-left: 38px;
      position: relative;
      @extend %RobotoSlabBold;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        height: 19px;
        width: 19px;
        display: inline-block;
        left: 0;
        top: 6px;
        position: absolute;
        @include background-icon('play-icon') {
          background-position: left center;
          background-size: 19px 19px;
        }
      }
      &__title {
        color: rgba(#2e2f30, .9);
        padding-left: 5px;
        @extend %RobotoSlabLight;
      }
      &:hover {
        color: #ff1d8c;
        .soundstracks__track__title {
          color: rgba(#ff1d8c, .9);
        }
      }
    }
    @include mediaquery($max, 414) {
      &:before {
        width: 80px;
        height: 3px;
      }
      .soundstracks__label {
        font-size: 26px;
        line-height: 30px;
      }
      .soundstracks__track {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
