// Category-specific coloring
@each $category-name, $color in $category-colors {
  $color: map-get($category-colors, $category-name);
  .page--article-detail.page--#{$category-name} {
    .hero, .section--pull-quote {
      background-color: $color;
    }
  }
}
.page--article-detail {
  .content {
    margin-top: -64px;
    margin-bottom: 64px;
  }
  .hero__copy {
    max-width: 1260px;
    padding: 0 15px;
    width: 100%;
  }
  .section--copy {
    .section-wrapper {
      background-color: $white;
    }
  }
}
