.site-wrapper {
  background-image: url("#{$image-path}/body-stripes-pattern.png");
  background-size: 5px 5px;
  background-position: left top;
}
.section {
  position: relative;
  z-index: 1;
  &-wrapper {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }
  &--pull-quote {
    z-index: 0;
  }
  &--meta {
    z-index: 2;
    .section-wrapper {
      padding: 0;
    }
  }
}
.disqus {
  background-color: $white;
  padding: 50px 0;
}
.brand-divider {
  text-align: center;
  position: relative;
  margin: 20px -5%;
  img {
    display: inline-block;
    max-width: 27px;
    max-height: 34px;
  }
  &:after,
  &:before {
    content: '';
    height: 1px;
    position: absolute;
    display: inline-block;
    background-color: #aeaeae;
    width: 47%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
  @include mediaquery($max, 860) {
    width: 45%;
  }
  @include mediaquery($max, 530) {
    width: 43%;
  }
}
.content {
  position: relative;
}
svg {
  fill: $white;
  &.search-icon {
    max-width: 24px;
    max-height: 23px;
  }
  &.menu-icon {
    max-width: 32px;
    max-height: 18px;
  }
  &.close-icon {
    max-width: 20px;
    max-height: 20px;
  }
}
.logo {
  @include background-icon('logo') {
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  width: 100%;
  height: 100%;
}
.square-pattern {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  display: block;
  z-index: 2;
  left: 0;
  right: 0;
  width: 100%;
  &:before {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-image: url("#{$image-path}/square-pattern.png");
  }
}
.icon {
  display: inline-block;
  &--facebook,
  &--twitter,
  &--instagram,
  &--vimeo,
  &--gplus {
    background-position: center center;
    background-size: 39px 39px;
    width: 39px;
    height: 39px;
  }
  &--facebook {
    @include background-icon('facebook-icon');
  }
  &--twitter {
    @include background-icon('twitter-icon');
  }
  &--instagram {
    @include background-icon('instagram-icon');
  }
  &--vimeo {
    @include background-icon('vimeo-icon');
  }
  &--gplus {
    @include background-icon('gplus-icon');
  }
  &--search {
    height: 23px;
    width: 24px;
  }
  &--nav {
    width: 32px;
    height: 22px;
  }
  &--close {
    width: 20px;
    height: 20px;
  }
  &--share {
    @include background-icon('social-icon');
    width: 25px;
    height: 26px;
  }
  &--play-button {
    @include background-icon('play-icon');
    border-radius: 50%;
    overflow: hidden;
    width: 115px;
    height: 115px;
    display: inline-block;
    background-size: 115px 115px;
    margin-bottom: 10px;
    position: relative;
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
    }
  }
}
.social-icons {
  font-size: 0;
  .icon {
    vertical-align: top;
    margin-right: 25px;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
