<section class="section section--comments">
  <h2 class="feed__sub-title">If you ain’t first to comment, you’re last.</h2>
  <p class="feed__sub-description">You can also be second, third, fourth... hell you can even be fifth.</p>
  <div class="disqus"></div>
</section>