<div class="feed">
  {{#if home}}
    <div class="feed__article feed__article--featured feed__article--game" data-key="sameHeights">
      <div class="article__meta">
        <span class="article__meta__category">Game Review</span>
        <span class="article__meta__date">January 01, 2016</span>
      </div>
      <div class="feed__article__container">
        <figure class="feed__article__image"><a href="" class="square-pattern"><div class="image" style="background-image: url('/img/article-one.jpg');"></div></a></figure>
        <div class="feed__article__details">
          <div class="feed__article__details__content feed__article__details__content--social">
            <div class="label">Share:</div>
            <ul class="list list--social">
              <li><a href="http://www.facebook.com/sharer.php?u=http://www.ign.com/articles/2016/09/04/pax-west-2016-gears-of-war-4-we-really-really-missed-horde-mode" target="_blank"><img src="/img/facebook-circle.png" alt="" /></a></li>
              <li><a href="http://twitter.com/share?url=http://localhost:3000&amp;text=Uncharted 4: A Thief's End&amp;hashtags=novasauce"><img src="/img/twitter-circle.png" alt="" /></a></li>
              <li><a href="https://plus.google.com/share?url=http://www.ign.com/articles/2016/09/04/pax-west-2016-gears-of-war-4-we-really-really-missed-horde-mode" target="_blank"><img src="/img/google-plus-circle.png" alt="" /></a></li>
            </ul>
          </div>
          <div class="feed__article__details__content feed__article__details__content--tags">
            <div class="label">Related Tags:</div>
            <ul class="list list--tags">
              <li>Mighty Number 9</li>
              <li>Megaman</li>
              <li>Games</li>
              <li>PS4</li>
              <li>Xbox One</li>
              <li>PC</li>
              <li>News</li>
              <li>Side Scroller</li>
              <li>Lorem</li>
              <li>Ipsum</li>
            </ul>
          </div>
        </div>
        <main class="feed__article__content">
          <div class="feed__article__content__social">
            <div class="buttons">
              <div class="buttons__button buttons__button--tags"></div>
              <div class="buttons__button buttons__button--social"></div>
            </div>
          </div>
          <div class="feed__article__content__summary">
            <h3 class="title"><a href="#">Uncharted 4: A Thief's End</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod. tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </main>
      </div>
    </div>
    <div class="feed__article feed__article--movie" data-key="sameHeights">
      <div class="article__meta">
        <span class="article__meta__category">Movie Review</span>
        <span class="article__meta__date">January 01, 2016</span>
      </div>
      <div class="feed__article__container">
        <figure class="feed__article__image"><a href="#" class="square-pattern"><div class="image" style="background-image: url('/img/article-two.jpg');"></div></a></figure>
        <div class="feed__article__details">
          <div class="feed__article__details__content feed__article__details__content--social">
            <div class="label">Share:</div>
            <ul class="list list--social">
              <li><img src="/img/facebook-circle.png" alt="" /></li>
              <li><img src="/img/twitter-circle.png" alt="" /></li>
              <li><img src="/img/google-plus-circle.png" alt="" /></li>
            </ul>
          </div>
          <div class="feed__article__details__content feed__article__details__content--tags">
            <div class="label">Related Tags:</div>
            <ul class="list list--tags">
              <li>Mighty Number 9</li>
              <li>Megaman</li>
              <li>Games</li>
              <li>PS4</li>
              <li>Xbox One</li>
              <li>PC</li>
              <li>News</li>
              <li>Side Scroller</li>
              <li>Lorem</li>
              <li>Ipsum</li>
            </ul>
          </div>
        </div>
        <main class="feed__article__content">
          <div class="feed__article__content__social">
            <div class="buttons">
              <div class="buttons__button buttons__button--tags"></div>
              <div class="buttons__button buttons__button--social"></div>
            </div>
          </div>
          <div class="feed__article__content__summary">
            <h3 class="title"><a href="#">Roboto Slab Lorem Ipsum</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
          </div>
        </main>
      </div>
    </div>
    <div class="feed__article feed__article--game" data-key="sameHeights">
      <div class="article__meta">
        <span class="article__meta__category">Game News</span>
        <span class="article__meta__date">January 01, 2016</span>
      </div>
      <div class="feed__article__container">
        <figure class="feed__article__image"><a href="" class="square-pattern"><div class="image" style="background-image: url('/img/article-three.jpg');"></div></a></figure>
        <div class="feed__article__details">
          <div class="feed__article__details__content feed__article__details__content--social">
            <div class="label">Share:</div>
            <ul class="list list--social">
              <li><img src="/img/facebook-circle.png" alt="" /></li>
              <li><img src="/img/twitter-circle.png" alt="" /></li>
              <li><img src="/img/google-plus-circle.png" alt="" /></li>
            </ul>
          </div>
          <div class="feed__article__details__content feed__article__details__content--tags">
            <div class="label">Related Tags:</div>
            <ul class="list list--tags">
              <li>Mighty Number 9</li>
              <li>Megaman</li>
              <li>Games</li>
              <li>PS4</li>
              <li>Xbox One</li>
              <li>PC</li>
              <li>News</li>
              <li>Side Scroller</li>
              <li>Lorem</li>
              <li>Ipsum</li>
            </ul>
          </div>
        </div>
        <main class="feed__article__content">
          <div class="feed__article__content__social">
            <div class="buttons">
              <div class="buttons__button buttons__button--tags"></div>
              <div class="buttons__button buttons__button--social"></div>
            </div>
          </div>
          <div class="feed__article__content__summary">
            <h3 class="title"><a href="#">Roboto Slab Lorem Ipsum</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
          </div>
        </main>
      </div>
    </div>
    <div class="soundtracks soundstracks--list" data-key="sameHeights">
      <h3 class="soundstracks__label">May Top 10 Soundtracks</h3>
      <ul>
        <li class="soundstracks__track"><span class="soundstracks__track__title">Uncharted 4</span></li>
        <li class="soundstracks__track"><span class="soundstracks__track__title">Mighty #9</span></li>
        <li class="soundstracks__track"><span class="soundstracks__track__title">Quantum Break</span></li>
        <li class="soundstracks__track"><span class="soundstracks__track__title">The Division</span></li>
        <li class="soundstracks__track"><span class="soundstracks__track__title">Mario World 3D</span></li>
        <li class="soundstracks__track"><span class="soundstracks__track__title">Yoshi’s Wolly World</span></li>
        <li class="soundstracks__track"><span class="soundstracks__track__title">The Order: 1886</span></li>
        <li class="soundstracks__track"><span class="soundstracks__track__title">Bloodbourne</span></li>
        <li class="soundstracks__track"><span class="soundstracks__track__title">Kung Fury: Street Rage</span></li>
        <li class="soundstracks__track"><span class="soundstracks__track__title">Fallout 4</span></li>
      </ul>
    </div>
    <div class="feed__article feed__article--comic" data-key="sameHeights">
      <div class="article__meta">
        <span class="article__meta__category">Comic Review</span>
        <span class="article__meta__date">January 01, 2016</span>
      </div>
      <div class="feed__article__container">
        <figure class="feed__article__image"><a href="" class="square-pattern"><div class="image" style="background-image: url('/img/article-four.jpg');"></div></a></figure>
        <div class="feed__article__details">
          <div class="feed__article__details__content feed__article__details__content--social">
            <div class="label">Share:</div>
            <ul class="list list--social">
              <li><img src="/img/facebook-circle.png" alt="" /></li>
              <li><img src="/img/twitter-circle.png" alt="" /></li>
              <li><img src="/img/google-plus-circle.png" alt="" /></li>
            </ul>
          </div>
          <div class="feed__article__details__content feed__article__details__content--tags">
            <div class="label">Related Tags:</div>
            <ul class="list list--tags">
              <li>Mighty Number 9</li>
              <li>Megaman</li>
              <li>Games</li>
              <li>PS4</li>
              <li>Xbox One</li>
              <li>PC</li>
              <li>News</li>
              <li>Side Scroller</li>
              <li>Lorem</li>
              <li>Ipsum</li>
            </ul>
          </div>
        </div>
        <main class="feed__article__content">
          <div class="feed__article__content__social">
            <div class="buttons">
              <div class="buttons__button buttons__button--tags"></div>
              <div class="buttons__button buttons__button--social"></div>
            </div>
          </div>
          <div class="feed__article__content__summary">
            <h3 class="title"><a href="#">Roboto Slab Lorem Ipsum</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
          </div>
        </main>
      </div>
    </div>
    <div class="feed__article feed__article--game feed__article--video" data-key="sameHeights">
      <div class="article__meta">
        <span class="article__meta__category">Game Video Review</span>
        <span class="article__meta__date">January 01, 2016</span>
      </div>
      <main class="feed__article__content">
        <figure class="feed__article__image"><div class="square-pattern"><div class="image" style="background-image: url('/img/article-five.jpg');"></div></div></figure>
        <div class="feed__article__content__summary">
          <span class="icon icon--play-button"><a href="#"></a></span>
          <h3 class="title"><a href="#">Quantum Break Video Review</a></h3>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
        </div>
      </main>
    </div>
    <div class="feed__article feed__article--movie" data-key="sameHeights">
      <div class="article__meta">
        <span class="article__meta__category">Movie News</span>
        <span class="article__meta__date">January 01, 2016</span>
      </div>
      <div class="feed__article__container">
        <figure class="feed__article__image"><a href="" class="square-pattern"><div class="image" style="background-image: url('/img/article-six.jpg');"></div></a></figure>
        <div class="feed__article__details">
          <div class="feed__article__details__content feed__article__details__content--social">
            <div class="label">Share:</div>
            <ul class="list list--social">
              <li><img src="/img/facebook-circle.png" alt="" /></li>
              <li><img src="/img/twitter-circle.png" alt="" /></li>
              <li><img src="/img/google-plus-circle.png" alt="" /></li>
            </ul>
          </div>
          <div class="feed__article__details__content feed__article__details__content--tags">
            <div class="label">Related Tags:</div>
            <ul class="list list--tags">
              <li>Mighty Number 9</li>
              <li>Megaman</li>
              <li>Games</li>
              <li>PS4</li>
              <li>Xbox One</li>
              <li>PC</li>
              <li>News</li>
              <li>Side Scroller</li>
              <li>Lorem</li>
              <li>Ipsum</li>
            </ul>
          </div>
        </div>
        <main class="feed__article__content">
          <div class="feed__article__content__social">
            <div class="buttons">
              <div class="buttons__button buttons__button--tags"></div>
              <div class="buttons__button buttons__button--social"></div>
            </div>
          </div>
          <div class="feed__article__content__summary">
            <h3 class="title"><a href="#">Roboto Slab Lorem Ipsum</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
          </div>
        </main>
      </div>
    </div>
    {{!-- <div class="ad ad--article">
      <a href="#"><img src="/img/ad-article.jpg" alt="" /></a>
    </div> --}}
    <div class="feed__article feed__article--comic" data-key="sameHeights">
      <div class="article__meta">
        <span class="article__meta__category">Comic Review</span>
        <span class="article__meta__date">January 01, 2016</span>
      </div>
      <div class="feed__article__container">
        <figure class="feed__article__image"><a href="" class="square-pattern"><div class="image" style="background-image: url('/img/article-four.jpg');"></div></a></figure>
        <div class="feed__article__details">
          <div class="feed__article__details__content feed__article__details__content--social">
            <div class="label">Share:</div>
            <ul class="list list--social">
              <li><img src="/img/facebook-circle.png" alt="" /></li>
              <li><img src="/img/twitter-circle.png" alt="" /></li>
              <li><img src="/img/google-plus-circle.png" alt="" /></li>
            </ul>
          </div>
          <div class="feed__article__details__content feed__article__details__content--tags">
            <div class="label">Related Tags:</div>
            <ul class="list list--tags">
              <li>Mighty Number 9</li>
              <li>Megaman</li>
              <li>Games</li>
              <li>PS4</li>
              <li>Xbox One</li>
              <li>PC</li>
              <li>News</li>
              <li>Side Scroller</li>
              <li>Lorem</li>
              <li>Ipsum</li>
            </ul>
          </div>
        </div>
        <main class="feed__article__content">
          <div class="feed__article__content__social">
            <div class="buttons">
              <div class="buttons__button buttons__button--tags"></div>
              <div class="buttons__button buttons__button--social"></div>
            </div>
          </div>
          <div class="feed__article__content__summary">
            <h3 class="title"><a href="#">Roboto Slab Lorem Ipsum</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
          </div>
        </main>
      </div>
    </div>
    <div class="feed__article feed__article--movie" data-key="sameHeights">
      <div class="article__meta">
        <span class="article__meta__category">Movie News</span>
        <span class="article__meta__date">January 01, 2016</span>
      </div>
      <div class="feed__article__container">
        <figure class="feed__article__image"><a href="" class="square-pattern"><div class="image" style="background-image: url('/img/article-six.jpg');"></div></a></figure>
        <div class="feed__article__details">
          <div class="feed__article__details__content feed__article__details__content--social">
            <div class="label">Share:</div>
            <ul class="list list--social">
              <li><img src="/img/facebook-circle.png" alt="" /></li>
              <li><img src="/img/twitter-circle.png" alt="" /></li>
              <li><img src="/img/google-plus-circle.png" alt="" /></li>
            </ul>
          </div>
          <div class="feed__article__details__content feed__article__details__content--tags">
            <div class="label">Related Tags:</div>
            <ul class="list list--tags">
              <li>Mighty Number 9</li>
              <li>Megaman</li>
              <li>Games</li>
              <li>PS4</li>
              <li>Xbox One</li>
              <li>PC</li>
              <li>News</li>
              <li>Side Scroller</li>
              <li>Lorem</li>
              <li>Ipsum</li>
            </ul>
          </div>
        </div>
        <main class="feed__article__content">
          <div class="feed__article__content__social">
            <div class="buttons">
              <div class="buttons__button buttons__button--tags"></div>
              <div class="buttons__button buttons__button--social"></div>
            </div>
          </div>
          <div class="feed__article__content__summary">
            <h3 class="title"><a href="#">Roboto Slab Lorem Ipsum</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
          </div>
        </main>
      </div>
    </div>
  {{/if}}
  {{#if bottom}}
    {{#if subtitle}}
      <h2 class="feed__sub-title">You also may like, or not like:</h2>
    {{/if}}
    <div class="feed__article feed__article--movie" data-key="sameHeights">
      <div class="article__meta">
        <span class="article__meta__category">Movie News</span>
        <span class="article__meta__date">January 01, 2016</span>
      </div>
      <div class="feed__article__container">
        <figure class="feed__article__image"><a href="" class="square-pattern"><div class="image" style="background-image: url('/img/article-six.jpg');"></div></a></figure>
        <div class="feed__article__details">
          <div class="feed__article__details__content feed__article__details__content--social">
            <div class="label">Share:</div>
            <ul class="list list--social">
              <li><img src="/img/facebook-circle.png" alt="" /></li>
              <li><img src="/img/twitter-circle.png" alt="" /></li>
              <li><img src="/img/google-plus-circle.png" alt="" /></li>
            </ul>
          </div>
          <div class="feed__article__details__content feed__article__details__content--tags">
            <div class="label">Related Tags:</div>
            <ul class="list list--tags">
              <li>Mighty Number 9</li>
              <li>Megaman</li>
              <li>Games</li>
              <li>PS4</li>
              <li>Xbox One</li>
              <li>PC</li>
              <li>News</li>
              <li>Side Scroller</li>
              <li>Lorem</li>
              <li>Ipsum</li>
            </ul>
          </div>
        </div>
        <main class="feed__article__content">
          <div class="feed__article__content__social">
            <div class="buttons">
              <div class="buttons__button buttons__button--tags"></div>
              <div class="buttons__button buttons__button--social"></div>
            </div>
          </div>
          <div class="feed__article__content__summary">
            <h3 class="title"><a href="#">Roboto Slab Lorem Ipsum</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
          </div>
        </main>
      </div>
    </div>
    <div class="feed__article feed__article--comic" data-key="sameHeights">
      <div class="article__meta">
        <span class="article__meta__category">Comic Review</span>
        <span class="article__meta__date">January 01, 2016</span>
      </div>
      <div class="feed__article__container">
        <figure class="feed__article__image"><a href="" class="square-pattern"><div class="image" style="background-image: url('/img/article-six.jpg');"></div></a></figure>
        <div class="feed__article__details">
          <div class="feed__article__details__content feed__article__details__content--social">
            <div class="label">Share:</div>
            <ul class="list list--social">
              <li><img src="/img/facebook-circle.png" alt="" /></li>
              <li><img src="/img/twitter-circle.png" alt="" /></li>
              <li><img src="/img/google-plus-circle.png" alt="" /></li>
            </ul>
          </div>
          <div class="feed__article__details__content feed__article__details__content--tags">
            <div class="label">Related Tags:</div>
            <ul class="list list--tags">
              <li>Mighty Number 9</li>
              <li>Megaman</li>
              <li>Games</li>
              <li>PS4</li>
              <li>Xbox One</li>
              <li>PC</li>
              <li>News</li>
              <li>Side Scroller</li>
              <li>Lorem</li>
              <li>Ipsum</li>
            </ul>
          </div>
        </div>
        <main class="feed__article__content">
          <div class="feed__article__content__social">
            <div class="buttons">
              <div class="buttons__button buttons__button--tags"></div>
              <div class="buttons__button buttons__button--social"></div>
            </div>
          </div>
          <div class="feed__article__content__summary">
            <h3 class="title"><a href="#">Roboto Slab Lorem Ipsum</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
          </div>
        </main>
      </div>
    </div>
    <div class="feed__article feed__article--game" data-key="sameHeights">
      <div class="article__meta">
        <span class="article__meta__category">Game Review</span>
        <span class="article__meta__date">January 01, 2016</span>
      </div>
      <div class="feed__article__container">
        <figure class="feed__article__image"><a href="" class="square-pattern"><div class="image" style="background-image: url('/img/article-six.jpg');"></div></a></figure>
        <div class="feed__article__details">
          <div class="feed__article__details__content feed__article__details__content--social">
            <div class="label">Share:</div>
            <ul class="list list--social">
              <li><img src="/img/facebook-circle.png" alt="" /></li>
              <li><img src="/img/twitter-circle.png" alt="" /></li>
              <li><img src="/img/google-plus-circle.png" alt="" /></li>
            </ul>
          </div>
          <div class="feed__article__details__content feed__article__details__content--tags">
            <div class="label">Related Tags:</div>
            <ul class="list list--tags">
              <li>Mighty Number 9</li>
              <li>Megaman</li>
              <li>Games</li>
              <li>PS4</li>
              <li>Xbox One</li>
              <li>PC</li>
              <li>News</li>
              <li>Side Scroller</li>
              <li>Lorem</li>
              <li>Ipsum</li>
            </ul>
          </div>
        </div>
        <main class="feed__article__content">
          <div class="feed__article__content__social">
            <div class="buttons">
              <div class="buttons__button buttons__button--tags"></div>
              <div class="buttons__button buttons__button--social"></div>
            </div>
          </div>
          <div class="feed__article__content__summary">
            <h3 class="title"><a href="#">Roboto Slab Lorem Ipsum</a></h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
          </div>
        </main>
      </div>
    </div>
  {{/if}}
</div>