<footer class="footer">
  <div class="footer__brand-info">
    <div class="footer__brand-info__logo">
      <div class="logo"></div>
      <svg class="logo-text"><use xlink:href="#logo-text"></use></svg>
    </div>
    <div class="footer__brand-info__disclaimer">
      <p>Copyright 2016 NOVASAUCE, LLC</p>
    </div>
  </div>
  <div class="footer__info">
    <ul class="social-icons">
      <li class="icon icon--facebook"><a href="#"></a></li>
      <li class="icon icon--twitter"><a href="#"></a></li>
      <li class="icon icon--instagram"><a href="#"></a></li>
      <li class="icon icon--vimeo"><a href="#"></a></li>
      <li class="icon icon--gplus"><a href="#"></a></li>
    </ul>
    <div class="footer__info__links">
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Advertise</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul>
        <li><a href="#">Press</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">RSS Feeds</a></li>
      </ul>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">AdChoices</a></li>
      </ul>
    </div>
  </div>
</footer>