<div class="hero"{{#if article}}{{else}}{{#if img_url}} style="background-image: url('/img/{{img_url}}');"{{/if}}{{/if}}>
  <div class="hero__copy">
    <div class="hero__logo">
      <div class="logo"></div>
    </div>
    <div class="hero__title">
      {{#if article}}
        <h1 class="title">Uncharted 4: A Thief's End Preview</h1>
      {{else}}
        <svg class="logo-text"><use xlink:href="#logo-text"></use></svg>
      {{/if}}
    </div>
    <div class="hero__by-line">
      {{#if slogan}}
        {{> tagline }}
      {{/if}}
      {{#if text}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod. temporincididunt ut labore et dolore magna aliqua.</p>
      {{/if}}
    </div>
    {{#if social}}
      <div class="hero__social">
        <ul>
          <li class="hero__social-link hero__social-link--share"></li>
          <li class="hero__social-link hero__social-link--tags"></li>
          <li class="hero__social-link hero__social-link--comments"></li>
        </ul>
      </div>
    {{/if}}
  </div>
  {{#if article}}
    <div class="hero__image" {{#if img_url}} style="background-image: url('/img/{{img_url}}');"{{/if}}></div>
  {{/if}}
</div>