<div class="latest-reviews {{#if game}}latest-reviews--game{{/if}}">
  <div class="latest-reviews__title">
    <h4 class="title"><span class="line">Latest{{#if games}} Games{{/if}} Reviews</span></h4>
  </div>
  <div class="carousel">
    <div class="carousel__item">
      <a href="#">
        <div class="latest-reviews__details">
          <h4 class="title">Fallout 4</h4>
          <p class="sub-title">Bethesda</p>
        </div>
        <div class="latest-reviews__score" style="background-image: url('/img/fallout-4.jpg');"><span class="latest-reviews__score__result">9</span></div>
      </a>
    </div>
    <div class="carousel__item">
      <a href="#">
        <div class="latest-reviews__details">
          <h4 class="title">Dark Souls 3</h4>
          <p class="sub-title">From Software</p>
        </div>
        <div class="latest-reviews__score" style="background-image: url('/img/dark-souls.jpg');"><span class="latest-reviews__score__result">9.5</span></div>
      </a>
    </div>
    <div class="carousel__item">
      <a href="#">
        <div class="latest-reviews__details">
          <h4 class="title">Fallout 4</h4>
          <p class="sub-title">Bethesda</p>
        </div>
        <div class="latest-reviews__score" style="background-image: url('/img/fallout-4.jpg');"><span class="latest-reviews__score__result">7.5</span></div>
      </a>
    </div>
    <div class="carousel__item">
      <a href="#">
        <div class="latest-reviews__details">
          <h4 class="title">Dark Souls 3</h4>
          <p class="sub-title">From Software</p>
        </div>
        <div class="latest-reviews__score" style="background-image: url('/img/dark-souls.jpg');"><span class="latest-reviews__score__result">10</span></div>
      </a>
    </div>
    <div class="carousel__item">
      <a href="#">
        <div class="latest-reviews__details">
          <h4 class="title">Dark Souls 3</h4>
          <p class="sub-title">From Software</p>
        </div>
        <div class="latest-reviews__score" style="background-image: url('/img/dark-souls.jpg');"><span class="latest-reviews__score__result">10</span></div>
      </a>
    </div>
  </div>
</div>