<main class="content">
    <div class="section-wrapper">
      <div class="article__meta">
        <span class="article__meta__category">Game Review</span>
        <span class="article__meta__date">January 01, 2016</span>
      </div>
    </div>
    <section class="section section--video">
      <div class="section-wrapper">
        <div class="image" style="background-image: url('/img/video-bg.jpg');"></div>
        <div class="square-pattern"></div>
        <span class="icon icon--play-button"><a href="#"></a></span>
      </div>
    </section>
    {{#if review}}
      {{!-- ratings here --}}
    {{/if}}
    <section class="section section--copy">
      <div class="section-wrapper">
        <div class="open-html">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo</p>
        </div>
      </div>
    </section>
    <section class="section section--pull-quote">
      <div class="section-wrapper">
        <blockquote class="blockquote"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod. Temporincididunt ut labore et dolore magna</p></blockquote>
      </div>
    </section>
    <section class="section section--copy">
      <div class="section-wrapper">
        <div class="open-html">
          <p><a href="#">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem <a href="#">quia voluptas sit aspernatur aut</a> odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</p>
        </div>
      </div>
    </section>
    <section class="section section--gallery">
      <div class="section-wrapper">
        <div class="slides">
          <div class="slide"><img src="/img/slide-one.jpg" alt="" /></div>
          <div class="slide"><img src="/img/slide-one.jpg" alt="" /></div>
        </div>
      </div>
    </section>
    <section class="section section--copy">
      <div class="section-wrapper">
        <div class="open-html">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
        </div>
      </div>
    </section>
    <section class="section section--share-this">
      <div class="section-wrapper">
        <div class="share-tab">
          Share <span class="icon icon--share"></span> This Article
        </div>
        <div class="author-info">
          <div class="author-info__photo">
            <img src="/img/author-img.png" alt="" />
          </div>
          <div class="author-info__by-line">
            <span class="author-info__by-line__name">by Steven Grimaldo</span>
            <span class="author-info__by-line__date">January 01, 2016</span>
          </div>
          <div class="author-info__social">
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="brand-divider"></div>
      </div>
    </section>
  </div>
</main>